body {
	background-image: url(../images/wall.png);
	margin: 0 0 100px;
    background-size:960px;
}


html {
	position:relative;
	min-height: 100%;
}


header, h1, h2, {
    font-family:'Georgia', "Times", "Times New Roman", "serif";    
}


p {
    font-family: Arial, Helvetica, sans-serif;
}

#overhead {
	height:90px;
    width:100%;
    background-color: #ffffff;
    border-bottom: solid #cccccc;
	font-size: 18px;
}


#portfolio {
    float: right;
    color: #777777;
    padding: 30px 10px 0px 0px;
    margin-right: 15px;
} 


#about {
    float: right;
    color: #777777;
    padding: 30px 10px 0px 0px;
    margin-right: 15px;
}


#contact {
    float: right;
    color: #777777;
    padding: 30px 10px 0px 0px;
    margin-right: 300px;
}


#name {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    top: 6px;
    position: absolute;
    left: 300px;
    font-size: 24px;
    padding: 20px 25px 20px 25px;
}


.aboutContainer {
    background-color: #ffffff;
    border: solid 2px #dddddd;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    padding: 25px 25px 0px 25px;
    display: inline-block;
}


#bioPicture {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}


#aboutMe {
	color:#4aaaa5;
    border-bottom: solid #dddddd;
    padding-left: 15px;	
}


 #aboutBody {
 	width:100%;
 	background-color: #ffffff;
 	font-size: 18px;
 	color:#777777;
}


.portfolioContainer {
	background-color: #ffffff;
    margin-left: 300px;
    margin-right: 300px;
	margin-top:30px;
	padding:20px;
    border: solid 2px #dddddd;
    display: inline-block;
 }


 .box {
    height: 180px;
    width: 240px;
    float: left;
    margin: 10px 80px 30px 0;
    margin-top: 20px;
}


 #inner {
    height:25%;
    width:100%;
    background-color: #4aaaa5;
    color:white;
    font-family: 'Georgia', "Times", "Times New Roman", "serif";
    font-size: 20px;
    text-align:center; 
    line-height: 192%;
    position: relative;
    top:60%;
}

.portbox{
    height:100%;
    width:100%;
    padding-left: 15px;
    text-align:center;
    float: left;
}


footer {
    clear: both;
    height: 50px;
    width: 100%;
    background-color: #666666;
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: solid 5px #4aaaa5;
}